.prodListContainer {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.listItem {
    padding: 2%;
    border-bottom: 1px solid #dadce0;
    height: 35px;
    margin-bottom: 10px;
}